mixin testimonials
	+b.testimonials
		+e.H2.title testimonials
		+e.wrap
			+e.IMG(src="img/realisticshots_coffee_photo.png")
			+e.slider
				+e.IMG(src="img/brendan_lim.png").avatar
				+e.SPAN.name Chris Parker
				+e.P.descr 
					|Nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris accumsan.


					
		+e.IMG(src="img/icons/coffee_icon_divider.svg").img-log