mixin main(data)
  +b.MAIN.main
    +e.DIV.container
      +e.ARTICLE.main-article
        +e.H1.caption Welcome to Be Latte
        +e.P.text Enjoy of a fresh new approach to coffee. Proin gravida nibh vel velit. Auctor aliquet sollicitudin lorem quis.
        +e.BUTTON.see-menu see menu