mixin slogan()
	+b.SECTION.section
		+e.H1.title Coffee never tasted 
			+e.SPAN.under-line so good!
		+e.P.text
			|Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
		+e.IMG(src="img/icons/coffee_icon_divider.svg").logo