mixin about()
	+b.about
		+e.UL.list
			+e.LI.coffee
				+e.IMG(src="img/bruno_bergher@3x.png").menu-img
				+e.DIV.img-prod 
					+e.SPAN.text Jack
				+e.P.coffee-menu.__goods
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem iusto quasi vitae repudiandae illum sunt, cum molestiae cumque ipsam.
			+e.LI.tea
				+e.IMG(src="img/brendan_lim@3x.png").menu-img
				+e.DIV.img-prod 
					+e.SPAN.text Tom
				+e.P.tea-menu.__goods
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem iusto quasi vitae repudiandae illum sunt, cum molestiae cumque ipsam.
			+e.LI.desserts
				+e.IMG(src="img/blob").menu-img
				+e.DIV.img-prod 
					+e.SPAN.text Lee
				+e.P.desserts-menu.__goods
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem iusto quasi vitae repudiandae illum sunt, cum molestiae cumque ipsam.
		+e.IMG(src="img/icons/coffee_icon_divider.svg").img-coln
	+slogan()