mixin footer()
	+b.FOOTER.footer 
		+b.P.footer-social
			+e.A.icon(class="mdi mdi-facebook" href="#")
			+e.A.icon(class="mdi mdi-twitter" href="#")
			+e.A.icon(class="mdi mdi-instagram" href="#")
		+b.ADDRESS.footer-info
			+e.P.address
				|St. Thomas street 21st, Suite 110, Santa Monica, California
			+e.P.copyright
				|© 2016 Be Latte, all right reserved
			+e.P.author
				|Designed by Vlad Vysotskii
		